<%-include('includes/head')%>
<body>
    <%-include('includes/nav')%>

    <div class="container mt-4 border-primary rounded" style="background-color: rgba(0, 0, 0, 0.33);">
        <div class="row justify-content-center">

            <div class="col-lg-0 my-3">
                <h1 class="text-center">Olá <%= user.emaik%></h1>
                <p class="text-center lead">Faça logout para criar outrou usuário</p>
            </div>
            
        </div>
    </div>

    <%-include('includes/script')%>
</body>
